extends layout

block content


    script(type='text/javascript' src='https://vk.com/js/api/openapi.js?168')


    // VK Widget
    main.main_part
        .elem
        .main_col
            article
                .gradient-box.purple
                    .vkPOST
            article
                .gradient-box.purple
                    .vkPOST
            article
                .gradient-box.purple
                    .vkPOST
            article
                .gradient-box.purple
                    .vkPOST
        #conbut
            button#load_more.load_more Загрузить ещё
        aside.elem.group
            .gradient-box.orange.facebook
                iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSR-studio-104952744899222&tabs=messages&width=300&height=288&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' width='300' height='288' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')
            .gradient-box.orange.vk
                #vk_groups
                script(type='text/javascript').
                    VK.Widgets.Group("vk_groups", {mode: 3, width: "300", height: "168"}, 201752528);


    script(type='text/javascript').
        (function () {
            let listPosts = !{JSON.stringify(listPosts)}
            let butToLoad = document.getElementById("load_more");
            butToLoad.addEventListener('click', loadBORDERS);
            butToLoad.addEventListener('click', loadMore);
            let colnum;

            loadMore();


            function loadBORDERS() {
                let listsis = document.getElementsByClassName("main_col")[0].children;
                let sis = listsis[listsis.length - 1]
                let code = '';


                if (listPosts.length != 0) {
                    if (listPosts.length > 4) {
                        code = "<article><div class='gradient-box purple'><div class='vkPOST'></div></div></article>".repeat(4);
                        sis.insertAdjacentHTML("afterEnd", code);
                        colnum = 4;
                    } else {
                        let num = listPosts.length;
                        colnum = num;
                        code = "<article><div class='gradient-box purple'><div class='vkPOST'></div></div></article>".repeat(num);
                        sis.insertAdjacentHTML("afterEnd", code);
                        butToLoad.remove();
                    }


                } else {
                    butToLoad.remove();
                }
            }

            function loadMore() {
                let listConteiners = Array.prototype.slice.call(document.getElementsByClassName("vkPOST")).slice(-colnum);
                let a = 0;

                for (let el in listConteiners) {

                    if (listPosts.length != 0) {
                        let date = new Date(1970, 0, 1);
                        date.setSeconds(listPosts[0].date)
                        let htmlCode = `<div class="vkPOSTheader"> <img src="/images/iconOfPub.png"><div><p><b>SR-studio</b></p><p class="date"> ${date.getUTCDate()}/${date.getMonth() + 1}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()} </p></div></div>`;
                        if (listPosts[0].text) {

                            htmlCode += `<p>${listPosts[0].text}</p>`
                        }
                        if (listPosts[0].attachments[0].type == "photo") {
                            htmlCode += `<img src="${listPosts[0].attachments[0].photo.sizes[listPosts[0].attachments[0].photo.sizes.length - 1].url}">`

                        }
                        listConteiners[el].innerHTML = htmlCode;
                        a += 1;
                        listPosts.shift();
                    } else {
                        listConteiners.shift();
                    }
                }
                for (let i = 0; i <= a; i++) {
                    listConteiners.shift()
                }
            }

        })();





    script(type='text/javascript' src='https://vk.com/js/api/openapi.js?168')
    script(type='text/javascript').
        (function () {
                VK.Widgets.Post("vk_post_-195306108_2939", -195306108, 2939, 'mPrsu7i--08R6TLpLriMlWMYyOTF');
                VK.Widgets.Post("vk_post_-195306108_2937", -195306108, 2937, '9oIpSu_WC-0joVvP4Tjk7J2uo74Z');
                VK.Widgets.Post("vk_post_-195306108_2936", -195306108, 2936, 'A3QBxp9EVMFmtd-qcCJW3VT5_emI');
                VK.Widgets.Post("vk_post_-195306108_2935", -195306108, 2935, 'KpRou84YvnMucz3u5YzsVvB1KKru');
            }());